$heading-background-color: lightgray;
$body-background-color: lightcyan;
$navigation-background-color: lightgreen;

.text-center {
    text-align: center;
}

.full-width {
    width:100%;
}

body {
    background-color: $body-background-color;
}

.header {
    &__background {
        &--default {
            background: $heading-background-color;            
        }
    }
}

.footer {
    &__background {
        &--default {
            background: $heading-background-color;            
        }
    }
}

.navigation {
    &__item {
        &--default {
            background: $navigation-background-color;
        }
    }
}